.music-app {
  display: flex;
  gap: 20px;
  padding: 20px;
  color: white;
  background: #0f0f0f;
  min-height: 100vh;
}

.player {
  flex: 2;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
}

.player__info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.player__poster {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.player__progress {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.bar {
  flex: 1;
  height: 6px;
  background: #333;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.fill {
  height: 100%;
  background: #1db954;
  border-radius: 10px;
  width: 0%;
}

.player__controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.player__controls button {
  padding: 8px 12px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.player__controls button:hover {
  background: #555;
}

/* PLAYLIST */
.playlist {
  flex: 1;
  background: #181818;
  padding: 15px;
  border-radius: 12px;
  overflow-y: auto;
  max-height: 90vh;
}

.playlist h2 {
  margin-bottom: 10px;
}

.playlist__item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
}

.playlist__item:hover {
  background: #2a2a2a;
}

.playlist__item img {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
}

.empty {
  opacity: 0.6;
}